body{
    margin: 0;
}
.navbar{
    height:50px;
    width:100%;
    background-color: rgb(164, 163, 163);
}
.navbar-nav{
    justify-content: space-between;
    display: flex;
}
.active :hover{
    background-color: purple;
    color: white;
}
.navbar-image{
    max-width: 100%;
    height: auto;
}
.navbar-links{
    color: black;
    margin-right: 30px;
}
.navbar-links a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

@media screen and (min-width: 400px) {
    body {
        flex-direction: column;
    }
}
.active{
    list-style: none;
    display:inline;
    margin-left: 10px;
    
}
.main-box{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 200px;
    height: 200px;
    margin:20px;
    background-color: rgb(165, 112, 165);
    border: 2px solid black;
}
.box:hover{
    width: 300px;
    background-color: grey;
}
@media screen and (min-width: 400px) {
    body {
        background-color: lightcoral;
    }
}
@media screen and (min-width: 900px) {
    body {
        background-color: lightblue;
    }
}
@media screen and (min-width: 1200px) {
    body {
        background-color: lightgreen;
    }
}
